<div class="container">
  <br/>
  <h2>{{titulo}}</h2>
  <hr/>

  <div *ngIf="!people">
    Cargando listado de suscripciones...
  </div>
  <div *ngIf="people">
      <table id="Suscripciones" class="table table-responsive table-bordered">
        <thead>
          <tr style="background-color: lightgray">
            <th>Correo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Fecha de Nacimiento</th>
            <th>Número de Celular</th>
            <th>Fecha de Registro</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of people">
          <td>{{person.email}}</td>
          <td>{{person.first_name}}</td>
          <td>{{person.last_name}}</td>
          <td>{{person.dni}}
          <td>{{person.birth_date}}</td>
          <td>{{person.cell_phone}}</td>
          <td>{{person.registration_date}}</td>
        </tr>
        </tbody>
      </table>
    <br/>
    <button type="button" class="btn btn-outline-success" onClick="ExportXLSX();">Descargar <img src="https://www.yourstyle.com.pe/backend/uploads/master/tools/iconos/32x32/excel_32x32.png"/></button>
  </div>
</div>
